Schrijf {{ num_notes }} fictieve zorgrapportages over het thema "{{ category }}".
Gebruik taal passend bij niveau 3 (Verzorgende IG) in een verpleeghuis. De cliënten hebben ernstige beperkingen, vaak door dementie of somatische aandoeningen.

Varieer in:
- Zinsopbouw en formulering (kort/lang, informeel/formeel)
- Perspectief (bijv. tegen de cliënt of in de derde persoon)
- Lengte en detailniveau (van beknopt tot uitgebreid)

Vermijd het noemen van namen.

Gebruik onderwerpen zoals: {{ note_topics }}

Voorbeelden:
{{ examples }}