Dit is het profiel van een fictieve client in het verpleeghuis:
---
{{ client_profile }}
---

Maak een week-tot-week tijdlijn voor een periode van {{ num_weeks }} weken, en beschrijf hierin beloop van zijn/haar verblijf in het verpleeghuis.
Verwerk de volgende complicatie(s) hierin: {{ complications }}.

Instructies:
- Formuleer elke scenarioregel zodanig dat deze duidelijk en begrijpelijk is voor een taalmodel.
- Beperk dramatische veranderingen en focus op subtiele ontwikkelingen.
- Vermijd het noemen van de naam van client.
