## Opdracht:
Schrijf realistische, losse zorgrapportages op basis van onderstaand profiel en scenario

## Profiel:
{{ client_profile }}

## Samenvatting afgelopen {{ weekno }} weken
{{ events_description }}

## Scenario komende week
{{ scenario }}

## Instructies voor de rapportages
- Schrijf rapportages voor een week (7 dagen). Per dag worden drie rapportages geschreven, dus er zijn **21 rapportages totaal**
- De startdatum van deze week is **{{ start_date }}**
- Wissel de tijdstippen per rapportage af
- Elke rapportage staat op zichzelf en beschrijft meestal één aspect van de zorg (bijv. ADL, medicatie, gedrag)
- Zorg voor een **subtiele, geleidelijke opbouw** in het verhaal
- Vermijd het noemen van de naam, maar gebruik {{ dhr_mw }} of (soms) client.
- Gebruik gevarieerde zinsstructuur en openingszinnen
- Wissel perspectief: soms vanuit actie, soms vanuit reactie of context
- Schrijf in eenvoudige taal, soms rommelig, op het niveau van een **Verzorgende IG**
- Varieer in toon, lengte en stijl
- Zorg dat de zorg realistisch is: geen dagelijkse bezoeken van fysiotherapie, geen plotselinge genezingen.
