Dit is het profiel van een fictieve client in het verpleeghuis:
---
{{ client_profile }}
---

Dit is er gebeurd in de afgelopen {{ weekno }} weken:
---
{{ events_description }}
---

Schrijf nu de rapportages voor de komende week, op basis van het volgende scenario:
---
{{ scenario }}
---

Instructies:
- Schrijf rapportages voor een week (7 dagen). Per dag worden drie rapportages geschreven, dus er zijn 21 rapportages totaal.
- De startdatum van deze week is {{ start_date }}
- Wissel een beetje met de tijden op de dag
- De rapportages staan op zich, de meeste rapportages beschrijven slechts één zorgaspect (bv ADL, medicatie, gedrag), maar samen vormen ze het verhaal van de client.
- Zorg voor een subtiele en geleidelijke opbouw.
- Vermijd het noemen van de naam, maar gebruik dhr., mw. of client.
- Je spreekt de taal van een niveau 3 zorgmedewerker (Verzorgende IG). Varieer in zinsopbouw en stijl, soms zijn de rapportages langer en meer gedetailleerd.
- Zorg dat de beschreven zorg realistisch is. Een fysiotherapeut komt niet elke dag langs, bijvoorbeeld. Clienten in het verpleeghuis worden niet vaak beter.
